@{
    ViewBag.Title = "Dobrodosli na MiniOglase";
}

<div class="izbor-kategorije-oglasa">
    <a href="@Url.Action("Index", "AutoOglasi")">
        <div class="naslovna-kategorija naslovna-kategorija-auti"><span>AUTOMOBILI</span></div>
    </a>
    <a href="@Url.Action("About", "Home")">
        <div class="naslovna-kategorija naslovna-kategorija-racunari"><span>RACUNARI</span></div>
    </a>
    <a href="@Url.Action("About", "Home")">
        <div class="naslovna-kategorija naslovna-kategorija-nekretnine"><span>NEKRETNINE</span></div>
    </a>
    <a href="@Url.Action("About", "Home")">
        <div class="naslovna-kategorija naslovna-kategorija-svi"><span>SVI OGLASI</span></div>
    </a>
</div>