html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

    html a:any-link {
        text-decoration: none;
        color: #232323;
    }

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    text-align: center;
    width: 100%;
    margin: 5rem auto 1rem auto;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elrements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    min-width: 12rem;
}

/*MOJE BOOTSTRAP IZMENE OSNOVNE*/

/*.dropdown-toggle {
    text-align: center;
}*/

.dropdown-menu > li > a:hover {
    background-color: gray;
    color: white;
}

.field-validation-error {
    display: block;
    margin: 1rem auto;
    max-width: 25rem;
    text-align: center;
}

.text-danger > span {
    color: #ff0000;
    margin: auto;
    background-color: #ffb9b9;
    padding: 0.4rem;
    border-radius: 4px;
}

/*MOJA DODAVANJA*/

.naslov {
    text-align: center;
    padding: 2rem;
}

.container > form {
    padding: 0.5rem 2rem;
    max-width: 40rem;
    margin: 2rem auto;
}

input[type="file"] {
    height: 100%;
}

.modal-dialog {
    max-width: 50rem;
    min-width: 25rem;
    margin: 40vh auto;
}

.modal-footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

span.glyphicon {
    font-size: 5rem;
    transition: all 0.3s;
}

    span.glyphicon:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    span.glyphicon.glyphicon-star-empty {
        color: dimgray;
    }

    span.glyphicon.glyphicon-star {
        color: orange;
    }

/*POCETNA STRANA*/

.main-header-pocetna {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: -5rem;
}

    .main-header-pocetna a:any-link {
        color: rgba(255,124,0,1);
    }

.pozadina-slike {
    position: relative;
    width: 100%;
    height: 100%;
}

    .pozadina-slike .pozadina {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

#pozadina-1 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.6) 53%, rgba(255,155,48,.5) 100%), url('/Images/slika-naslovna-auto.jpg');
}

#pozadina-2 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.6) 53%, rgba(255,155,48,.5) 100%), url('/Images/slika-naslovna-racunar.jpg');
}

#pozadina-3 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.6) 53%, rgba(255,155,48,.5) 100%), url('/Images/slika-naslovna-stan.jpg');
}

.header-naslov {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 18px orangered;
}

    .header-naslov h1 {
        font-size: 7rem;
        letter-spacing: .5rem;
        text-transform: uppercase;
        margin-bottom: 5rem;
    }

    .header-naslov h3 {
        font-size: 3.5rem;
        letter-spacing: 1rem;
        margin-bottom: 5rem;
        transition: all 2s;
    }

#strelica-header {
    display: inline-block;
    animation-name: strelicaGoreDole;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes strelicaGoreDole {
    0% {
        color: orangered;
        transform: translateY(-1rem);
    }

    50% {
        color: white;
        transform: translateY(1rem);
    }

    100% {
        color: orangered;
        transform: translateY(-1rem);
    }
}

#meta-za-strelicu {
    margin-top: -5rem;
}

#kategorije {
    width: 90vw;
    padding: 2rem 3rem;
    margin: 10rem auto 2rem auto;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}

.izbor-kategorije-oglasa {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.naslovna-kategorija {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 2px solid #7e7e7e;
    box-shadow: 4px 4px 4px gray;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin: 2rem;
    transition: all 0.8s;
}

    .naslovna-kategorija > * {
        padding: 1rem;
    }

    .naslovna-kategorija i {
        font-size: 5rem;
        color: rgb(255,124,0);
    }

    .naslovna-kategorija:hover {
        cursor: pointer;
        color: white;
        transform: scale(1.1);
        border: 4px solid rgb(255,124,0);
    }

.naslovna-kategorija-auti:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.7) 80%, rgba(255,124,0,0.8) 80%, rgba(255,98,0,0.8) 100%), url("../Images/thumbnail-kola.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.naslovna-kategorija-racunari:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.7) 80%, rgba(255,124,0,0.8) 80%, rgba(255,98,0,0.8) 100%), url("../Images/thumbnail-laptop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.naslovna-kategorija-nekretnine:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.7) 80%, rgba(255,124,0,0.8) 80%, rgba(255,98,0,0.8) 100%), url("../Images/thumbnail-kuca.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*================ ZA OGLASE LISTU ================*/
.oglas-okvir {
    width: 48rem;
    height: 17rem;
    margin: 1rem auto;
}

div.oglas-list-item {
    max-width: 100%;
    height: 100%;
    border: 1px solid gray;
    box-shadow: 4px 4px 0 #9c9c9c;
    border-radius: 2px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.oglas-list-item:hover {
    border: 5px solid rgba(255,124,0,1);
    box-shadow: 0 0 2rem #000000;
    transform: translateX(-5%);
}

.slika-oglasa {
    width: 45%;
    height: 100%;
    border-right: 3px solid gray;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.oglas-list-item:hover > .slika-oglasa {
    background-size: 120%;
}

.main-info-oglasa {
    width: 55%;
    height: 100%;
    padding: 1rem;
    transition: all 1s;
}

.oglas-list-item:hover .main-info-oglasa {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,124,0,1) 80%, rgba(255,98,0,1) 100%);
}

/*================ ZA OGLASE LISTU ================*/

/*=============== ZA DETALJE OGLASA ===============*/

.detalji-oglasa {
    width: 80%;
    height: 60vh;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .detalji-oglasa .fotorama {
        width: 50%;
    }

.slike img {
    width: 100%;
    height: 100%;
}

.detalji-oglasa .detalji-oglasa-info {
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*=============== ZA DETALJE OGLASA ===============*/