html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    --glavna-ljubicasta: rgb(109, 87, 224);
}

    html a:any-link {
        text-decoration: none;
        color: #232323;
    }

body {
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    text-align: center;
    width: 100%;
    margin: 5rem auto 1rem auto;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elrements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    min-width: 12rem;
}

/*MOJE BOOTSTRAP IZMENE OSNOVNE===========================================*/
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #646464;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: gold;
        }

    .navbar-inverse .navbar-brand {
        color: white;
    }

        .navbar-inverse .navbar-brand:hover {
            color: gold;
        }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: var(--glavna-ljubicasta);
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }

.dropdown-toggle {
    padding-left: 1rem;
}

.dropdown-menu > li > a:hover {
    background-color: gray;
    color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
}

.field-validation-error {
    display: block;
    margin: 1rem auto;
    max-width: 25rem;
    text-align: center;
}

.text-danger > span {
    color: #ff0000;
    margin: auto;
    background-color: #ffb9b9;
    padding: 0.4rem;
    border-radius: 4px;
}

/*MOJA DODAVANJA============================================================*/

.naslov {
    padding: 2rem;
}

.container > form {
    padding: 0.5rem 2rem;
    max-width: 40rem;
    margin: 2rem auto;
}

input[type="file"] {
    height: 100%;
}

.modal-dialog {
    text-align: center;
    max-width: 50rem;
    min-width: 25rem;
    margin: 40vh auto;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

span.glyphicon {
    font-size: 5.5rem;
    transition: all 0.3s;
}

    span.glyphicon:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.glyphicon.glyphicon-star-empty {
    color: gold;
}

.glyphicon.glyphicon-star {
    color: gold;
}

/*POCETNA STRANA========================================================*/

.main-header-pocetna {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: -5rem;
}

    .main-header-pocetna a:any-link {
        color: var(--glavna-ljubicasta);
    }

.pozadina-slike {
    position: relative;
    width: 100%;
    height: 100%;
}

    .pozadina-slike .pozadina {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

#pozadina-1 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.8) 45%, rgba(88, 0, 255, 0.80) 100%), url('/Images/slika-naslovna-auto.jpg');
}

#pozadina-2 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.8) 45%, rgba(57, 0, 255, 0.80) 100%), url('/Images/slika-naslovna-racunar.jpg');
}

#pozadina-3 {
    background-image: linear-gradient(135deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.8) 45%, rgba(81, 0, 255, 0.80) 100%), url('/Images/slika-naslovna-stan.jpg');
}

.header-naslov {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 18px rgba(57, 0, 255, 0.80);
}

    .header-naslov h1 {
        font-size: 8rem;
        letter-spacing: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 5rem;
        font-weight: 300;
    }

    .header-naslov h3 {
        font-size: 4rem;
        letter-spacing: 1rem;
        margin-bottom: 5rem;
        transition: all 2s;
        font-weight: 300;
    }

#strelica-header {
    display: inline-block;
    animation-name: strelicaGoreDole;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes strelicaGoreDole {
    0% {
        color: var(--glavna-ljubicasta);
        transform: translateY(-1rem);
    }

    50% {
        color: white;
        transform: translateY(1rem);
    }

    100% {
        color: var(--glavna-ljubicasta);
        transform: translateY(-1rem);
    }
}

#meta-za-strelicu {
    margin-top: -5rem;
}

/*POCETNA STRANA KATEGORIJE--------------------------------------------*/

#kategorije {
    width: 80vw;
    min-height: calc(100vh - 150px);
    padding: 2rem 3rem;
    margin: 10rem auto 2rem auto;
    border-top: 1px solid var(--glavna-ljubicasta);
    border-bottom: 1px solid var(--glavna-ljubicasta);
    box-shadow: 1rem 1rem 5px gray;
    background: linear-gradient(135deg, rgba(201,201,201,0.8) 0%, rgba(255,252,252,0.8) 39%, rgba(190,190,190,0.7) 50%, rgba(255,255,255,0.8) 62%, rgba(189,189,189,0.8) 100%);
}

    #kategorije h2 {
        display: inline-block;
        padding: 1rem;
        border-bottom: 2px solid var(--glavna-ljubicasta);
        font-weight: 300;
    }

.izbor-kategorije-oglasa {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .izbor-kategorije-oglasa a {
        width: 25rem;
        height: 25rem;
        border: 2px solid #7e7e7e;
        box-shadow: 4px 4px 0 gray;
        border-radius: 1rem;
        font-size: 2.5rem;
        margin: 2rem;
        background-color: white;
    }

@media only screen and (max-width: 850px) {
    .izbor-kategorije-oglasa {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .izbor-kategorije-oglasa a {
        max-width: 20rem;
        max-height: 20rem;
        font-size: 2rem;
    }

    .header-naslov h1 {
        font-size: 5rem;
    }

    .header-naslov h3 {
        font-size: 3rem;
    }
}

.naslovna-kategorija {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

    .naslovna-kategorija > * {
        padding: 1rem;
    }

    .naslovna-kategorija i {
        font-size: 5rem;
        color: rgba(122, 53, 254, 0.80);
    }

    .naslovna-kategorija:hover {
        cursor: pointer;
        color: white;
        box-shadow: 0 0 20px var(--glavna-ljubicasta);
        transform: scale(1.1);
        border: 4px solid rgba(88, 0, 255, 0.80);
    }

        .naslovna-kategorija:hover p {
            text-shadow: 0 0 2rem #fffdce;
        }

.naslovna-kategorija-auti:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.7) 80%, rgba(88, 0, 255, 0.80) 80%, rgba(57, 0, 255, 0.80) 100%), url("../Images/thumbnail-kola.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.naslovna-kategorija-racunari:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.85) 0%, rgba(0,0,0,.75) 80%, rgba(88, 0, 255, 0.80) 80%, rgba(57, 0, 255, 0.80) 100%), url("../Images/thumbnail-laptop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.naslovna-kategorija-nekretnine:hover {
    background: linear-gradient(45deg, rgba(0,0,0,.85) 0%, rgba(0,0,0,.8) 80%, rgba(88, 0, 255, 0.80) 80%, rgba(57, 0, 255, 0.80) 100%), url("../Images/thumbnail-kuca.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*================ ZA OGLASE LISTU =========================================*/
#main-lista-oglasa {
    display: grid;
    grid-template-columns: minmax(27rem, 1fr) repeat(2, minmax(15rem, 30rem)) 1fr;
    grid-column-gap: 1rem;
}

#deoZaFiltere {
    grid-column: 1 /span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: #d9d9d9;
    border: 1px solid rgb(114, 114, 114);
}

.red-filtera {
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 0.5rem auto;
    border-bottom: 2px solid #b5b5b5;
}

    .red-filtera > input[type=number], select {
        margin: auto;
    }

.dugme {
    display: block;
    width: 13rem;
    min-width: 10rem;
    padding: 0.7rem;
    margin: 0.5rem auto;
    border-radius: 1rem;
    transition: all 0.3s;
    font-size: 1.6rem;
}

.red-filtera .dugme {
    margin: 0.5rem;
}

.dugme:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 5px gray;
}

.dugme-za-novi-oglas:any-link {
    color: white;
    background-color: var(--glavna-ljubicasta);
}

.dugme-za-filtriranje {
    background-color: whitesmoke;
    border: 2px solid var(--glavna-ljubicasta);
    color: var(--glavna-ljubicasta);
}

.dugme-crveno {
    background-color: red;
    border: 2px solid white;
    color: white;
}

.dugme-plavo {
    background-color: dodgerblue;
    border: 2px solid white;
    color: white;
}

#deoZaListuOglasa {
    grid-column: 2 / span 2;
    width: 100%;
    margin: 1rem auto;
}

.oglas-okvir {
    height: 17rem;
    margin: 1rem auto;
}

div.oglas-list-item {
    max-width: 45rem;
    height: 100%;
    border: 1px solid gray;
    box-shadow: 4px 4px 0 #9c9c9c;
    border-radius: 2px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.oglas-list-item:hover {
    border: 3px solid var(--glavna-ljubicasta);
    box-shadow: 0 0 2rem black;
    transform: translateX(-3%);
}

.slika-oglasa {
    width: 45%;
    height: 100%;
    border-right: 3px solid gray;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.oglas-list-item:hover > .slika-oglasa {
    background-size: 120%;
}

.main-info-oglasa {
    width: 55%;
    height: 100%;
    /*padding: 0.5rem;*/
    transition: all 1s;
    position: relative;
}

.oglas-item-naslov {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    background-color: var(--glavna-ljubicasta);
    text-shadow: 2px 2px 5px black;
    width: 100%;
    padding: 3px;
}

.oglas-item-cena {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    background-color: #23d400;
    width: 40%;
    padding: 3px;
}

.oglas-item-body {
    line-height: 1rem;
    margin: 3.5rem 1.5rem;
    text-align: left;
}

.oglas-item-red-polje {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 0.4rem;
}

.naziv-polja-oglasa {
    color: gray;
}

.vrednost-polja-oglasa {
    color: black;
}

.oglas-list-item:hover .main-info-oglasa {
    background: linear-gradient(45deg, rgb(255,255,255) 0%, rgb(255,255,255) 75%, rgba(81, 255, 85, 0.50) 75%, rgba(81, 255, 85, 0.70) 100%);
}

@media only screen and (max-width:690px) {
    #main-lista-oglasa {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #deoZaFiltere {
        width: 80%;
        margin: 0 auto;
    }

    #deoZaListuOglasa {
        width: 90%;
        margin: 1rem auto;
    }
}

@media only screen and (max-width:500px) {
    #main-lista-oglasa {
        padding: 0;
        flex-direction: column;
    }

    #deoZaFiltere {
        width: 93%;
        margin: 0 auto;
    }

    #deoZaListuOglasa {
        width: 95%;
        margin: 1rem auto;
        font-size: 90%;
    }

    .oglas-item-cena {
        width: 65%;
    }
}

/*=============== ZA DETALJE OGLASA =======================================*/

.detalji-oglasa {
    border: 2px dashed #a7a7a7;
    border-radius: 1rem;
    max-width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    position: relative;
}

#zvezda-dugme {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.detalji-oglasa .red-prvi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #a7a7a7;
}

.detalji-oglasa .fotorama {
    border: 2px solid #a7a7a7;
    height: 100%;
    width: 50%;
}

.detalji-oglasa-info {
    width: 45%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detalji-oglasa-info, .detalji-oglasa-tabela {
    font-size: 1.6rem;
}

.detalji-oglasa-tabela {
    width: 70%;
    margin: 1rem auto;
    text-align: left;
    border-collapse: collapse;
}

    .detalji-oglasa-tabela tr:nth-of-type(even) {
        background-color: #cccccc;
    }

    .detalji-oglasa-tabela td:nth-of-type(2) {
        text-align: right;
    }

    .detalji-oglasa-tabela td {
        padding: 0.3rem 1rem;
    }

.detalji-oglasa-info button {
    display: inline-block;
    margin: 1rem 0.5rem;
}